:root {
    --gap-div: 0.4rem;
    --gap-inner: 0.4rem;
}

/* ---------- BASE ---------- */

.GeneralInfo {
    display: grid;
    gap: var(--gap-div);
}

/* ---------- PREVIEW ---------- */

.GeneralInfo.preview .GeneralInfo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--gap-div);
    text-align: justify;
}

.GeneralInfo.preview .userName,
.GeneralInfo.preview .SummarySection {
    grid-column: 1 / 6;
}

.GeneralInfo.preview .userName {
    justify-self: center;
}

.GeneralInfo.preview .ContactDetails,
.GeneralInfo.preview .ContactLinks {
    display: flex;
    gap: var(--gap-div);
}

.GeneralInfo.preview .ContactDetails {
    justify-content: end;
    grid-column: 1/4;
}

/* ---------- TYPOGRAPHY ---------- */

.userName h1 {
    line-height: 1.5;
    margin-bottom: -10px;
}

/* ---------- EDIT ---------- */

.GeneralInfo.edit form {
    display: grid;
    gap: var(--gap-div);
}
