:root {
    --gap-div: 0.4rem;
    --gap-inner: 0.4rem;
}

/* ---------- BASE (shared) ---------- */

.GeneralInfo {
    display: grid;
    gap: var(--gap-div);
}

.userName {
    grid-area: userName;
}
.ContactDetails {
    grid-area: ContactDetails;
}
.ContactLinks {
    grid-area: ContactLinks;
}
.SummarySection {
    grid-area: SummarySection;
}

.GeneralInfo .formControl {
    grid-area: formControl;
    justify-self: end;
}

/* ---------- PREVIEW ---------- */

.GeneralInfo.preview {
    grid-template-columns: auto auto;
    grid-template-areas:
        'userName userName'
        'ContactDetails ContactLinks'
        'SummarySection SummarySection'
        'formControl formControl';
}

.GeneralInfo.preview .userName {
    justify-self: center;
}

.GeneralInfo.preview .ContactDetails {
    justify-self: end;
    display: flex;
    gap: var(--gap-inner);
}

.GeneralInfo.preview .ContactLinks {
    justify-self: start;
    display: flex;
    gap: var(--gap-inner);
}

/* ---------- EDIT ---------- */

.GeneralInfo.edit form {
    display: grid;
    gap: var(--gap-div);
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
        'userName userName'
        'ContactDetails ContactDetails'
        'ContactLinks ContactLinks'
        'SummarySection SummarySection'
        'formControl formControl';
}

.GeneralInfo.edit .userName {
    display: grid;
    gap: var(--gap-inner);
}

.GeneralInfo.edit .ContactDetails,
.GeneralInfo.edit .ContactLinks {
    display: grid;
    gap: var(--gap-inner);
}

.GeneralInfo.edit .SummarySection {
    display: flex;
    flex-direction: column;
    gap: var(--gap-inner);
}

.GeneralInfo.edit textarea {
    width: 100%;
}
